metal_sdk/build/
metal_sdk/metal_sdk/metal_sdk.cpython-38-x86_64-linux-gnu.so
metal_sdk/metal_sdk.egg-info
metal_sdk/metal_sdk/__pycache__

metal_ros/build/
metal_ros/devel/
metal_ros/install/
metal_ros/data
metal_ros/*bag
metal_ros/.catkin_workspace
metal_ros/src/CMakeLists.txt
