<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="metal">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import metal urdf file -->
    <xacro:include filename="$(find metal_arm_description)/urdf/metal_with_gripper.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="metal.ros2_control.xacro" />


    <xacro:metal_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
